<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Mini Training Center</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand"
   asp-controller="Home"
   asp-action="Index">

Mini Training Center

</a>

<button class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbar">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse"
     id="navbar">

<ul class="navbar-nav me-auto">

<li class="nav-item">

<a class="nav-link"
   asp-controller="Home"
   asp-action="Index">

Home

</a>

</li>

@if (User.Identity?.IsAuthenticated == true)
{
    var roles = User.Claims
        .Where(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
        .Select(x => x.Value)
        .ToList();
    var roleText = roles.Any() ? roles[0] : "User";

<li class="nav-item">

<span class="nav-link text-light">

Role: @roleText

</span>

</li>
}

<li class="nav-item">

<a class="nav-link"
   asp-controller="Courses"
   asp-action="Index">

Courses

</a>

</li>

@if(User.IsInRole("Admin"))
{
<li class="nav-item">

<a class="nav-link"
   asp-controller="Dashboard"
   asp-action="Index">

Dashboard

</a>

</li>

<li class="nav-item">

<a class="nav-link"
   asp-controller="Audit"
   asp-action="Index">

Audit Logs

</a>

</li>

}

</ul>

<partial name="_LoginPartial"/>

</div>

</div>

</nav>

</header>

<div class="container mt-4">

@if(TempData["Success"]!=null)
{
<div class="alert alert-success">

@TempData["Success"]

</div>
}

@if(TempData["Error"]!=null)
{
<div class="alert alert-danger">

@TempData["Error"]

</div>
}

<main>

@RenderBody()

</main>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts",required:false)

</body>

</html>