@model MiniTrainingCenterCatalog.Mvc.ViewModels.CourseCreateViewModel

<h2>Create Course</h2>

<form method="post">

    @Html.AntiForgeryToken()

    <div class="mb-3">

        <label asp-for="CourseCode"></label>

        <input asp-for="CourseCode"
               class="form-control" />

        <span asp-validation-for="CourseCode"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="CourseName"></label>

        <input asp-for="CourseName"
               class="form-control" />

        <span asp-validation-for="CourseName"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="Instructor"></label>

        <input asp-for="Instructor"
               class="form-control" />

        <span asp-validation-for="Instructor"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="Fee"></label>

        <input asp-for="Fee"
               class="form-control" />

        <span asp-validation-for="Fee"
              class="text-danger"></span>

    </div>
    <div class="alert alert-warning">

    Fill in all course information before submitting.

</div>

    <div class="mb-3">

        <label asp-for="StartDate"></label>

        <input asp-for="StartDate"
               type="date"
               class="form-control" />

        <span asp-validation-for="StartDate"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="Level"></label>

        <select asp-for="Level"
                class="form-select">
            <option value="">-- Choose level --</option>
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>

        <span asp-validation-for="Level"
              class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="Capacity"></label>

        <input asp-for="Capacity"
               class="form-control" />

        <span asp-validation-for="Capacity"
              class="text-danger"></span>

    </div>

    <button class="btn btn-success">
        Create
    </button>

</form>
