@model MiniTrainingCenterCatalog.Mvc.ViewModels.CourseEditViewModel

<h2>Edit Course</h2>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />
    <input asp-for="RowVersion" type="hidden" />

    <div class="mb-3">
        <label asp-for="CourseCode"></label>
        <input asp-for="CourseCode" class="form-control" />
        <span asp-validation-for="CourseCode"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Instructor"></label>
        <input asp-for="Instructor" class="form-control" />
        <span asp-validation-for="Instructor"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Fee"></label>
        <input asp-for="Fee" class="form-control" />
        <span asp-validation-for="Fee"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity"
              class="text-danger"></span>
    </div>

    <button class="btn btn-warning">
        Update
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Back
    </a>

</form>