<div class="text-center">

    <h1 class="display-4">

        Mini Training Center Course Catalog

    </h1>

    <p>

        ASP.NET Core MVC Project

    </p>

    <a class="btn btn-primary"
       asp-controller="Courses"
       asp-action="Index">

       View Courses

    </a>

    <a class="btn btn-success"
       asp-controller="Courses"
       asp-action="Create">

       Add Course

    </a>

</div>