@model IEnumerable<MiniTrainingCenterCatalog.Mvc.Models.Course>

<h2>Search Course</h2>

<form method="get">

    <input type="text"
           name="keyword"
           class="form-control"
           placeholder="Enter course name..." />

    <br />

    <button class="btn btn-primary">

        Search

    </button>

</form>

<hr />

@foreach(var item in Model)
{
    <p>
        @item.CourseName
    </p>
}