@model MiniTrainingCenterCatalog.Mvc.ViewModels.CourseSearchViewModel

<h2>Search Course</h2>

<form method="get">

    <div class="mb-3">
        <label>Course Name</label>
        <input asp-for="Keyword"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Instructor</label>
        <input asp-for="Instructor"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Minimum Fee</label>
        <input asp-for="MinFee"
               class="form-control" />
    </div>

    <button class="btn btn-primary">
        Search
    </button>

</form>

@if(ViewBag.Count != null)
{
    <div class="alert alert-info mt-3">

        Found @ViewBag.Count course(s)

    </div>
}